<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shu.blog.dao.UserDaoInter">

    <!--用户登录-->
<select id="userLogin" resultType="cn.shu.blog.beans.User">
    SELECT * FROM users WHERE account=#{userName} and password=#{password}
</select>

    <!--检测用户名是否存在-->
    <select id="findUserByUsername" resultType="cn.shu.blog.beans.User">
        select * from users where account=#{userName} limit 0,1
    </select>

    <!--检测昵称是否存在-->
    <select id="findUserByNickname" resultType="cn.shu.blog.beans.User">
        select * from users where nickname=#{nickname} limit 0,1
    </select>

    <!--检测邮箱是否存在-->
    <select id="findUserByEmail" resultType="cn.shu.blog.beans.User">
        select * from users where email=#{email} limit 0,1
    </select>

    <!--注册用户-->
    <insert id="registerUser" >
        insert into users values(null,#{userName},#{password},#{createDate},#{nickname},#{email},null)
    </insert>
</mapper>
